*{
    box-sizing:border-box;
}

#Raj{
    text-shadow: 3px 5px 5px red, -3px -3px 5px ;
    text-align:center;
    
}


.navbar ul{
    list-style-type:none;
    padding:0px;
    margin:0px;
    overflow:hidden;
    text-align:center;
    
    
}
.navbar a{
    text-decoration:none;
    display:inline;
    color: cornsilk;
    text-align: center;
    display:block;
    padding: 7px 12px;
    
    border: 1px solid rgb(238, 174, 185);
    box-shadow: 1px 3px 1px rgb(233, 150, 219);
}

.navbar li{
    display: inline-block;
    
}


.pagination{
    text-align:center;
    clear:both;
}
.pagination a{
    color: azure;
    text-decoration:none;
    padding: 8px 15px;
    display: inline-block;
}

.pagination a.active{
    background-color:rgb(243, 234, 234, 0.5 );
    font-weight:bold;
    border-radius: 5px;

}

.pagination a:hover:not(.active){
    background-color:rgb(243, 234, 234, 0.5 );
    border-radius: 5px;
}

body{
    background-image : url(../images/images.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-attachment:fixed;
    background-size:cover;
    color:azure;
}

.dropdown button {
    background-color:rgb(199, 194, 194);
    padding: 10px 15px;
    border:none;
    cursor:pointer;
}

.dropdown a{
    display: block;
    color:azure;
    text-decoration:none;
    padding: 10px 15px;

}
.dropdown .content{
    background-color:rgb(32, 32, 32);
    display:none;
    position: absolute;
    min-width:100px;
    box-shadow: 2px 2px 5px rgb(44, 42, 42, 0.8);
}

.dropdown:hover .content{
    display:block;
}

.dropdown:hover button{
    background-color: rgb(153, 150, 150,0.9);
}
.dropdown a:hover{
    background-color: rgb(153, 150, 150,0.7);
}
.dropdown{
    display:inline;
}

aside{
    width:20%;
    float:left;
    padding:10px;
}
section{
    width:40%;
    float:left;
    padding:10px;
}
article{
    width:40%;
    float:left;
    padding:10px;
    
}
footer{
   display:block;
   clear:both;
   
    text-shadow: 3px 5px 5px red, -3px -3px 5px;
    padding:1px;
    text-align: center;
    margin-bottom:0px;
    color:white;
   
}

@media screen and (max-width:600px){
    aside, section, article {
        width:100%;
    }
}