#Raj{
    text-shadow: 3px 5px 5px red, -3px -3px 5px ;
    text-align:center;
    
}


.navbar ul{
    list-style-type:none;
    padding:0px;
    margin:0px;
    overflow:hidden;
    text-align:center;
    
    
}
.navbar a{
    text-decoration:none;
    display:inline;
    color: cornsilk;
    text-align: center;
    
    padding: 7px 12px;
    
    border: 1px solid rgb(238, 174, 185);
    box-shadow: 1px 3px 1px rgb(233, 150, 219);
}

.navbar li{
    display: inline-block;
    
}
.navbar li a:hover, .dropdown button:hover{
    transform:scale(1.1);
    transition: transform 0.5s ease;
    display:inline-block;
}

.pagination{
    text-align:center;
}
.pagination a{
    color: azure;
    text-decoration:none;
    padding: 8px 15px;
    display: inline-block;
}

.pagination a.active{
    background-color:rgb(243, 234, 234, 0.5 );
    font-weight:bold;
    border-radius: 5px;

}

.pagination a:hover:not(.active){
    background-color:rgb(243, 234, 234, 0.5 );
    border-radius: 5px;
}

body{
    background-image : url(../images/images.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-attachment:fixed;
    background-size:cover;
    color:azure;
    
}

footer{
   
   
    text-shadow: 3px 5px 5px red, -3px -3px 5px;
    padding:1px;
    text-align: center;
    margin-bottom:0px;
    color:white;
    margin-top:20px;
   
}

.dropdown button {
    
    
    
    cursor:pointer;
    background-color:pink;
    font-family:arial;
    display:inline;
    color: cornsilk;
    text-align: center;
    
    padding: 7px 12px;
    
    border: 1px solid rgb(238, 174, 185);
    box-shadow: 1px 3px 1px rgb(233, 150, 219);
     
    
}

.dropdown a{
    display: block;
    color:azure;
    text-decoration:none;
    padding: 10px 15px;

}
.dropdown .content{
    background-color:pink;
    display:none;
    position: absolute;
    
    box-shadow: 2px 2px 5px rgb(44, 42, 42, 0.8);
}

.dropdown:hover .content{
    display:block;
}


.dropdown{
    display:inline;
    
    
}

.gallery{
    display:inline-block;
    border:1px solid white;
    margin:5px;
    width:200px;
    
    
    
    
}
.gallery .description{
    padding:10px;
    text-align:center;
    
}

.gallery:hover{
    border:1px solid black;
    transition: transform 0.2s ease;
    transform:scale(1.05);
}
.gallery img{
    width:100%;
    height:auto;
}

#poke{
    float:left;
    margin-left:20px;
    margin-right:20px;
}
#pokedesc, #spamdesc, #locodesc{
    padding-left:30px;
    padding-right:30px;
    padding-bottom:10px;
    display:flex;
    flex-direction:column;
    text-shadow: 2px 2px 3px black;
    
    
}
#loco{
    float:right;
    margin-left:20px;
    margin-right:20px;
}

#spam{
    float:left;
    margin-left:20px;
    margin-right:20px;
}

.container{
    border: 1px solid white;
    margin:20px;
    padding:25px;
}

#pokedesc:hover, #locodesc:hover, #spamdesc:hover{
     background-color:rgb(243, 234, 234, 0.5 );
    
    font-size:1.05em;
    transition: transform 0.2s ease;
    transform:scale(1.05);
    

}

html{
    scroll-behavior:smooth;
}

