
#raj{
    text-shadow: 3px 5px 5px red, -3px -3px 5px ;
}
body{
            background-image : url(images.jpg);
            background-repeat: no-repeat;
            background-position:center;
            background-attachment:fixed;
            border: 10px dotted azure;
            display: flow-root;
            background-size:cover;
           
        ;
        }
main{
            color : rebeccapurple;
            margin-left: 10px;
        }
#f{
    color : azure;
    font-family: Arial;
    border-left : 10px dotted blue;
    border-right : 10px dotted blue;
    border-top: 5px solid tomato;
    border-bottom: 5px solid tomato;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100px;
    overflow: auto;
    text-shadow: 2px 2px 3px black;
}
#p1{
    color :cornsilk;
    font-family: verdana;
    text-shadow: 2px 2px 3px black;
}     
 
#p2{
    color : azure;
   font-family: verdana;
    text-shadow: 2px 2px 3px black;
    
} 

#p3{
    color :honeydew;
    text-shadow: 2px 2px 3px black;
    font-family: "lucida console";
} 

#box1{
    width: 100px;
    height: 100px;
    background-color : beige;
    margin-left: 10px;
    box-shadow : 3px 3px 5px;
    margin-right: auto;
    float : left;
    margin-right: 10px;
    margin-bottom:20px;
    
}
#rl{
    background-color: teal;
    display:block;
    width: 100px;
    height: 100px;
    float: left;
    box-shadow: 3px 3px 5px black;
    margin-bottom: 20px;
    margin-right:10px;
    color:bisque;
    
    
    }
#gw{
    background-color :bisque;
    width: 100px;
    height: 100px;
    float: left;
    box-shadow: 3px 3px 5px black;
    margin-bottom: 20px;
    margin-right:10px;
    color:teal;
}
footer{
   
   
    text-shadow: 3px 5px 5px red, -3px -3px 5px;
    padding:1px;
    text-align: center;
    margin-bottom:0px;
    color:white;
   
}
*{
    box-sizing: border-box;
}
#container{
    border:2px solid white;
}
#container p{
    background-color:azure;
    color:black;
    padding-left:10px;
}
.b{
    padding:0;
    background:transparent;
    border:0px;
    transition: transform 0.2s ease;
}
.b:hover{
    transform:scale(1.05);
    

}
.b:active{
   transform: rotate(-180deg) scale(0.80);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2)  
}
p:hover{
    background-color:rgb(243, 234, 234, 0.5 );
    
    font-size:1.025em;
    transition: transform 0.5s ease;
    transform:scale(1.02);
    
    
}

#apple::after{
    content: "🍎";
}

#orange::after{
    content: "🍊";
}

#banana::after{
    content: "🍌";
}

#eleme{
    margin-top:5px;
    border:2px solid white;
    color:honeydew;
    padding-left:10px;
    text-shadow:2px 2px 3px black;
    font-family: "lucida console";
}

li:hover{
    background-color:rgb(243, 234, 234, 0.5 );
    
    font-size:1.05em;
    transition: transform 0.2s ease;
    transform:scale(1.05);
   
    
}
p::selection{
     background-color:black;
    color:azure;

}
li::selection{
    background-color:black;
    color:azure;

}
#fruit li::marker{
    content :"✅";
    
}
.pagination{
    text-align:center;
}
.pagination a{
    color: azure;
    text-decoration:none;
    padding: 8px 15px;
    display: inline-block;
}

.pagination a.active{
    background-color:rgb(243, 234, 234, 0.5 );
    font-weight:bold;
    border-radius: 5px;

}

.pagination a:hover:not(.active){
    background-color:rgb(243, 234, 234, 0.5 );
    border-radius: 5px;
}

